.react-calendar {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  font-family: Pretendard, sans-serif;
}

.react-calendar__viewContainer {
  background: transparent;
}

.react-calendar__navigation {
  margin-bottom: 24px;
}

.react-calendar__navigation button {
  font-size: 18px;
  font-weight: 600;
  background: none;
}

.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    align-self: stretch;
}

.react-calendar__month-view__weekdays__weekday {
    color: var(--Grayscale-900, #202227);
    flex: 1;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
    width: 151px;
    height: 120px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #E2E4E8;
    background: var(--Grayscale-White, #FFF);
}


.react-calendar__tile {
    display: flex;
    width: 151px;
    height: 120px;
    padding: 12px 16px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid #E2E4E8;
    background: var(--Grayscale-White, #FFF);
    color: var(--Grayscale-900, #202227);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.react-calendar__tile:enabled:hover {
  background: rgba(99, 102, 241, 0.1);
}

.react-calendar__tile--active {
  background: #6366f1 !important;
  color: white !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit;
}

.react-calendar__month-view__days__day--neighboringMonth {
    border-radius: 8px;
    border: 1px solid var(--Grayscale-200, #E9EBEF);
    background: var(--Grayscale-100, #F4F6F8);
    color: var(--Grayscale-100, #F4F6F8);
}

.react-calendar__month-view__days__day--neighboringMonth:hover,
.react-calendar__month-view__days__day--neighboringMonth:focus {
    background: var(--Grayscale-100, #F4F6F8) !important;
    cursor: default;
}